---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2 class="archive__subtitle">Resources</h2>

<ul class="resource-list">
  <li>
    <a href="https://github.com/thomasj2026/roboticsResources">Robotics resources and examples (GitHub)</a>
    <span class="wip-badge">Work in progress</span>
    <p>A growing collection of robotics learning resources and code examples. More coming soon.</p>
  </li>
</ul>
